<footer class="bg-black  bg-cover bg-center bg-no-repeat md:px-48 bg-image3">
    <div class="section-padding container pt-24 pb-24">
      <div class="grid grid-cols-1 gap-7 md:grid-cols-2 lg:grid-cols-3 text-sm">
        <div class="single-footer">
          <div class="lg:max-w-[270px]">
            <a href="#" class="mb-10 block">
              <img class="h-12" src="../../../../../assets/Images/logo-white.png" alt="">
            </a>
            <p>
              Edulink College fosters excellence, shaping future professionals with a dynamic curriculum and experienced faculty members.
            </p>
          </div>
        </div>
        <div class="single-footer">
          <div class="flex space-x-[80px]">
            <div class="flex-1 lg:flex-none">
              <h4 class="mb-8 text-2xl font-bold text-white">Links</h4>
              <ul class="list-item space-y-5">
                <li>
                  <a href="#">Home</a>
                </li>
                <li>
                  <a href="#">Department</a>
                </li>
                <li>
                  <a href="#">Contact Us</a>
                </li>
                <li>
                  <a href="#">Admission</a>
                </li>
              </ul>
            </div>
            
            <div class="flex-1 lg:flex-none">
              <h4 class="mb-8 text-2xl font-bold text-white">Legal</h4>
              <ul class="list-item space-y-5">
                <li>
                  <a href="#">Legal</a>
                </li>
                <li>
                  <a href="#">Tearms of Use</a>
                </li>
                <li>
                  <a href="#">Tearm & Condition</a>
                </li>
                <li>
                  <a href="#">Payment Method</a>
                </li>
                <li>
                  <a href="#">Privacy Policy</a>
                </li>
                <li>
                  <a href="#">Privacy Policy</a>
                </li>
              </ul>
            </div>
            <div class="flex-1 lg:flex-none">
              <h4 class="mb-8 text-2xl font-bold text-white">Portals</h4>
              <ul class="list-item space-y-5">
                <li>
                  <a href="#">Student Poral</a>
                </li>
                <li>
                  <a href="#">Faculty Portal</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container border-t border-white border-opacity-[0.1] py-8 text-center text-base">
      &copy; Copyright 2023 | Edulink College Management | All Rights Reserved
    </div>
  </footer>
  