
      <div class="mx-auto flex w-full max-w-md flex-col space-y-6 mt-8">
        <div class="flex flex-col items-center justify-center text-center space-y-2">
          <div class="font-semibold text-3xl">
            <p>Email Verification</p>
          </div>
          <div class="flex flex-row text-sm font-medium text-gray-400">
            <p>We have sent a code to your email {{data.email}}</p>
          </div>
        </div>
  
        <div>
          <form action="" method="post">
            <div class="flex flex-col space-y-12">
              <div class="flex flex-col items-center justify-between mx-auto w-full max-w-xs">
                    <div style="width: 350px;" class="mb-6 flex justify-center" >
                        <ng-otp-input  [ariaDisabled]="isLoading"  (onInputChange)="onOtpChange($event)" [config]="{length:6,allowNumbersOnly:true,disableAutoFocus:true}"></ng-otp-input>
                    </div>
                
  
              <div class="flex flex-col space-y-5">
                <p *ngIf="errMsg">{{errMsg}}</p>
                <div>
                  <button pButton [disabled]="isLoading" [ngClass]="{'bg-blue-400': isLoading}" class="flex flex-row items-center justify-center text-center w-full border rounded-xl outline-none py-3 bg-blue-700 border-none text-white text-sm shadow-sm" >
                    <fa-icon *ngIf="isLoading" class="fa mr-3" [icon]="faSpinner" [ngClass]="{'fa-spin fa-spinner': isLoading, 'fa-check': !isLoading}"></fa-icon>Verify OTP
                  </button>
                </div>
  
                <div class="flex flex-row items-center justify-center text-center text-sm font-medium space-x-1 text-gray-500">
                  <p>Didn't recieve code?</p> <a class="flex flex-row items-center text-blue-600" href="http://" target="_blank" rel="noopener noreferrer">Resend</a>
                </div>
              </div>
            </div>
            </div>
          </form>
        </div>
      </div>