<div class="card w-120">
    <div class="border-b border-slate-200 p-4 dark:border-navy-500 sm:px-5">
      <div class="flex items-center space-x-2">
        <div class="flex h-7 w-7 items-center justify-center rounded-lg bg-primary/10 p-1 text-primary dark:bg-accent-light/10 dark:text-accent-light">
            <mat-icon> format_align_justify</mat-icon>
        </div>
        <h4 class="text-lg font-medium text-slate-700 dark:text-navy-100">
          Leave Application
        </h4>
      </div>
    </div>
    <div class="space-y-4 p-4 sm:p-5">
        <form [formGroup]="leaveForm" (ngSubmit)="onSubmit()">
        <div class="grid grid-cols-1 gap-4">
        

            <div class="grid grid-cols-2 gap-4">
              <label class="block">
                <span>Start Date</span>
                <input formControlName="startDate" [min]="minDate" class=" form-input mt-1.5 w-full rounded-lg border border-slate-300 bg-transparent px-3 py-2 placeholder:text-slate-400/70 hover:border-slate-400 focus:border-primary dark:border-navy-450 dark:hover:border-navy-400 dark:focus:border-accent" placeholder="SKU" type="date">
              </label>
    
              <label class="block">
                <span>End Date</span>
                <input formControlName="endDate" class="form-input mt-1.5 w-full rounded-lg border border-slate-300 bg-transparent px-3 py-2 placeholder:text-slate-400/70 hover:border-slate-400 focus:border-primary dark:border-navy-450 dark:hover:border-navy-400 dark:focus:border-accent" placeholder="Price" type="date">
              </label>
            </div>
          </div>
          <p class="text-red-600 text-sm">{{dayErr}}</p>
          <p class="text-gray-700 font-medium mt-2">Total Leave Days : {{dayDiff}}</p>
      <label class="block">
        <span>Reason</span>

        <textarea formControlName="reason" class="form-input mt-1.5 w-full rounded-lg border border-slate-300 bg-transparent px-3 py-2 placeholder:text-slate-400/70 hover:border-slate-400 focus:border-primary dark:border-navy-450 dark:hover:border-navy-400 dark:focus:border-accent" placeholder="Enter leave reason here" type="text" rows="5"></textarea>
      </label>
  
      
      <div class="flex justify-center space-x-2 mt-2">
        <button [disabled]="dayErr || !leaveForm.valid"  class="btn space-x-2 w-full bg-indigo-600 disabled:bg-gray-500 disabled:cursor-not-allowed px-5 py-2 rounded-lg font-medium text-white hover:bg-indigo-600-focus focus:bg-indigo-600-focus active:bg-indigo-600-focus/90 dark:bg-accent dark:hover:bg-accent-focus dark:focus:bg-accent-focus dark:active:bg-accent/90">
            Submit
          </button>
      </div>
    </form>
    </div>
  </div>