<div class="card ">
    <div class="border-b border-slate-200 p-4 dark:border-navy-500 sm:px-5">
      <div class="flex items-center space-x-2">
        <div class="flex h-7 w-7 items-center justify-center rounded-lg bg-primary/10 p-1 text-primary dark:bg-accent-light/10 dark:text-accent-light">
            <mat-icon> format_align_justify</mat-icon>
        </div>
        <h4 class="text-lg font-medium text-slate-700 dark:text-navy-100">
          Leave Applications
        </h4>
      </div>
    </div>
    <div class="space-y-4 p-4 sm:p-5">
        <div *ngIf="leaveApplications.length; else noData">
          <div class="mb-2 rounded-lg bg-white shadow-soft-md w-full p-4 grid grid-cols-12 gap-4" *ngFor="let leave of leaveApplications">
            <div class="sm:col-span-7 col-span-12">
             <p class="text-sm  font-semibold text-gray-800">{{leave.startDate | date}} - {{leave.endDate | date}} ({{leave.totalDays}} Day)</p>
             <p class="font-medium">Reason : {{leave.reason}}</p>
         
            </div>
            <div *ngIf="leave.status == CommonStatus.Pending" class="sm:col-span-5  col-span-12 flex justify-center items-center gap-2">
              <button (click)="onStatusChange(CommonStatus.Approved,leave._id)"  type="button"
              class="px-3 py-1 text-sm rounded-full bg-green-500 font-medium text-white hover:bg-green-500-focus focus:bg-green-500-focus active:bg-green-500-focus/90 dark:bg-accent dark:hover:bg-accent-focus dark:focus:bg-accent-focus dark:active:bg-accent/90">
              Approve
            </button>
              <button (click)="onStatusChange(CommonStatus.Rejected,leave._id)" type="button"
              class="px-3 py-1 text-sm rounded-full bg-red-500 font-medium text-white hover:bg-red-500-focus focus:bg-red-500-focus active:bg-red-500-focus/90 dark:bg-accent dark:hover:bg-accent-focus dark:focus:bg-accent-focus dark:active:bg-accent/90">
              Reject
            </button>
            </div>
            <div *ngIf="leave.status == CommonStatus.Approved" class="sm:col-span-5  col-span-12 flex justify-end items-center gap-2">
              <a type="button"
              class="px-3 py-1 text-sm rounded-full bg-green-500 font-medium text-white hover:bg-green-500-focus focus:bg-green-500-focus active:bg-green-500-focus/90 dark:bg-accent dark:hover:bg-accent-focus dark:focus:bg-accent-focus dark:active:bg-accent/90">
              Approved
            </a>
            </div>
            <div *ngIf="leave.status == CommonStatus.Rejected" class="sm:col-span-5  col-span-12 flex justify-end items-center gap-2">
              
              <a type="button"
              class="px-3 py-1 text-sm rounded-full bg-red-500 font-medium text-white hover:bg-red-500-focus focus:bg-red-500-focus active:bg-red-500-focus/90 dark:bg-accent dark:hover:bg-accent-focus dark:focus:bg-accent-focus dark:active:bg-accent/90">
              Rejected
            </a>
            </div>
     </div>
        </div>
        <ng-template #noData class="flex justify-center items-center">
          <p class="text-lg font-semibold text-center">No Application Found!</p>
        </ng-template>
    </div>
  </div>