
<button data-drawer-target="default-sidebar" data-drawer-toggle="default-sidebar" aria-controls="default-sidebar" type="button" class="inline-flex items-center p-2 mt-2 ml-3 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
    <span class="sr-only">Open sidebar</span>
    <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
       <path clip-rule="evenodd" fill-rule="evenodd" d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"></path>
    </svg>
  </button>
  
  <aside id="default-sidebar" class="fixed top-0 left-0 z-40 w-20 h-screen transition-transform -translate-x-full sm:translate-x-0" aria-label="Sidebar">
    <div class="flex flex-col items-center border-r border-slate-150 bg-white dark:border-navy-700 dark:bg-navy-800  h-full">
      <!-- Application Logo -->
      <div class="flex pt-4">
        <a href="/">
          <img class="h-11 w-11 transition-transform duration-500 ease-in-out hover:rotate-[360deg]" src="../../../../../../assets/Images/logo-fav.png" alt="logo">
        </a>
      </div>
  
      <!-- Main Sections Links -->
      <div class="is-scrollbar-hidden flex grow flex-col space-y-4 overflow-y-auto justify-center">
  
        <a data-tooltip-target="dashboard-right" data-tooltip-placement="right" routerLink="/student/dashboard" routerLinkActive="bg-purple-200 text-purple-600" class="cursor-pointer  flex h-11 w-11 items-center justify-center rounded-lg  outline-none transition-colors duration-200 hover:bg-purple-300 focus:bg-purple-200 active:bg-purple-250 dark:bg-navy-600 dark:text-accent-light dark:hover:bg-navy-450 dark:focus:bg-navy-450 dark:active:bg-navy-450/90" >
          <svg class="h-7 w-7" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
            <path fill="currentColor" fill-opacity=".3" d="M5 14.059c0-1.01 0-1.514.222-1.945.221-.43.632-.724 1.453-1.31l4.163-2.974c.56-.4.842-.601 1.162-.601.32 0 .601.2 1.162.601l4.163 2.974c.821.586 1.232.88 1.453 1.31.222.43.222.935.222 1.945V19c0 .943 0 1.414-.293 1.707C18.414 21 17.943 21 17 21H7c-.943 0-1.414 0-1.707-.293C5 20.414 5 19.943 5 19v-4.94Z"></path>
            <path fill="currentColor" d="M3 12.387c0 .267 0 .4.084.441.084.041.19-.04.4-.204l7.288-5.669c.59-.459.885-.688 1.228-.688.343 0 .638.23 1.228.688l7.288 5.669c.21.163.316.245.4.204.084-.04.084-.174.084-.441v-.409c0-.48 0-.72-.102-.928-.101-.208-.291-.355-.67-.65l-7-5.445c-.59-.459-.885-.688-1.228-.688-.343 0-.638.23-1.228.688l-7 5.445c-.379.295-.569.442-.67.65-.102.208-.102.448-.102.928v.409Z"></path>
            <path fill="currentColor" d="M11.5 15.5h1A1.5 1.5 0 0 1 14 17v3.5h-4V17a1.5 1.5 0 0 1 1.5-1.5Z"></path>
            <path fill="currentColor" d="M17.5 5h-1a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5Z"></path>
          </svg>
          
        </a>
        <div id="dashboard-right" role="tooltip" class="absolute z-10 invisible inline-block px-2 py-1 text-sm font-medium text-white bg-gray-500 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700" >
            Dashboard
            <div class="tooltip-arrow" data-popper-arrow></div>
        </div>
  
        <!-- Apps -->
        <a data-tooltip-target="student-right" data-tooltip-placement="right" routerLink="/student/assignment" routerLinkActive="bg-purple-200 text-purple-600" class="cursor-pointer  flex h-11 w-11 items-center justify-center rounded-lg  outline-none transition-colors duration-200 hover:bg-purple-300 focus:bg-purple-200 active:bg-purple-250 dark:bg-navy-600 dark:text-accent-light dark:hover:bg-navy-450 dark:focus:bg-navy-450 dark:active:bg-navy-450/90">
            <mat-icon>assignment</mat-icon>
        </a>
        <div id="student-right" role="tooltip" class="absolute z-10 invisible inline-block px-2 py-1 text-sm font-medium text-white bg-gray-500 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
            Assignemnt
            <div class="tooltip-arrow" data-popper-arrow></div>
        </div>
  
        <!-- Pages And Layouts -->
        <a data-tooltip-target="attendance-right" data-tooltip-placement="right" routerLink="/student/attendance" routerLinkActive="bg-purple-200 text-purple-600" class="cursor-pointer  flex h-11 w-11 items-center justify-center rounded-lg  outline-none transition-colors duration-200 hover:bg-purple-300 focus:bg-purple-100 active:bg-purple-250 dark:bg-navy-600 dark:text-accent-light dark:hover:bg-navy-450 dark:focus:bg-navy-450 dark:active:bg-navy-450/90 text-gray-500">
            <mat-icon>playlist_add_check</mat-icon>
        </a>
        <div id="attendance-right" role="tooltip" class="absolute z-10 invisible inline-block px-2 py-1 text-sm font-medium text-white bg-gray-500 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
            Attendance
            <div class="tooltip-arrow" data-popper-arrow></div>
        </div>
  
        <!-- Forms -->
        <a data-tooltip-target="assignment-right" data-tooltip-placement="right" routerLink="/student/fees" routerLinkActive="bg-purple-200 text-purple-600" class="cursor-pointer  flex h-11 w-11 items-center justify-center rounded-lg  outline-none transition-colors duration-200 hover:bg-purple-300 focus:bg-purple-100 active:bg-purple-250 dark:bg-navy-600 dark:text-accent-light dark:hover:bg-navy-450 dark:focus:bg-navy-450 dark:active:bg-navy-450/90 text-gray-500">
            <mat-icon>payment</mat-icon>
        </a>
        <div id="assignment-right" role="tooltip" class="absolute z-10 invisible inline-block px-2 py-1 text-sm font-medium text-white bg-gray-500 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
            Fees
            <div class="tooltip-arrow" data-popper-arrow></div>
        </div>
  
        <!-- Components -->
        <a data-tooltip-target="chat-right" data-tooltip-placement="right" routerLink="/student/chat" routerLinkActive="bg-purple-200 text-purple-600" class="cursor-pointer  flex h-11 w-11 items-center justify-center rounded-lg  outline-none transition-colors duration-200 hover:bg-purple-300 focus:bg-purple-100 active:bg-purple-250 dark:bg-navy-600 dark:text-accent-light dark:hover:bg-navy-450 dark:focus:bg-navy-450 dark:active:bg-navy-450/90 text-gray-500">
            <mat-icon> forum</mat-icon>
        </a>
        <div id="chat-right" role="tooltip" class="absolute z-10 invisible inline-block px-2 py-1 text-sm font-medium text-white bg-gray-500 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
            Chat
            <div class="tooltip-arrow" data-popper-arrow></div>
        </div>
  
      </div>
  
      <!-- Bottom Links -->
      <div class="flex flex-col items-center space-y-3 py-3">
        <!-- Settings -->
        
  
        <!-- Profile -->
        <div x-data="usePopper({placement:'right-end',offset:12})"  class="flex">
          <button (click)="onProfile()"  x-ref="popperRef" class="avatar h-12 w-12">
            <img class="rounded-full h-12 w-12" [src]="'api.edulinkcollege.online/uploads/' + studentData.admssionDetails.profilePicture"
            alt="avatar">
            <span class="absolute right-0 h-3.5 w-3.5 rounded-full border-2 border-white bg-success dark:border-navy-700"></span>
          </button>
           <div *ngIf="showDropdown" id="profile-box" class="popper-root fixed bottom-0" style="position: fixed;inset: auto auto 0px 0px;margin-bottom: 144px;margin-left:5px;transform: translate(76px, 134px); ">
            <div
              class="popper-box w-64 rounded-lg border border-slate-150 bg-white shadow-soft dark:border-navy-600 dark:bg-navy-700"
            >
              <div
                class="flex items-center space-x-4 rounded-t-lg bg-slate-100 py-5 px-4 dark:bg-navy-800"
              >
                <div class="avatar h-14 w-14">
                  <img
                    class="rounded-full  h-14 w-14"
                    [src]="'api.edulinkcollege.online/uploads/' + studentData.admssionDetails.profilePicture"
                    alt="avatar"
                  />
                </div>
                <div>
                  <a
                    href="#"
                    class="text-base font-medium text-slate-700 hover:text-indigo-600 focus:text-indigo-600 dark:text-navy-100 dark:hover:text-accent-light dark:focus:text-accent-light"
                  >
                  {{studentData.admssionDetails.firstName}} {{studentData.admssionDetails.lastName}} 
                  </a>
                  <p class="text-xs text-slate-400 dark:text-navy-300">
                    Student 
                  </p>
                </div>
              </div>
              <div class="flex flex-col pt-2 pb-5">
                <a
                  routerLink="/student/profile"
                  class="group flex items-center space-x-3 py-2 px-4 tracking-wide outline-none transition-all hover:bg-slate-100 focus:bg-slate-100 dark:hover:bg-navy-600 dark:focus:bg-navy-600"
                >
                  <div
                    class="flex h-8 w-8 items-center justify-center rounded-lg bg-indigo-100 text-purple-700"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="h-4.5 w-4.5"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                      stroke-width="2"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"
                      />
                    </svg>
                  </div>

                  <div>
                    <h2
                      class="font-medium text-slate-700 transition-colors group-hover:text-indigo-600 group-focus:text-indigo-600 dark:text-navy-100 dark:group-hover:text-accent-light dark:group-focus:text-accent-light"
                    >
                      Profile
                    </h2>
                    <div
                      class="text-xs text-slate-400 line-clamp-1 dark:text-navy-300"
                    >
                      Your profile setting
                    </div>
                  </div>
                </a>
                <div class="mt-3 px-4">
                  <button (click)="onLogout()"
                    class="btn h-9 w-full space-x-2 bg-indigo-600 text-white hover:bg-indigo-600-focus focus:bg-indigo-600-focus active:bg-indigo-600-focus/90 dark:bg-accent dark:hover:bg-accent-focus dark:focus:bg-accent-focus dark:active:bg-accent/90"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="h-5 w-5"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="1.5"
                        d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1"
                      />
                    </svg>
                    <span>Logout</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </aside>
  

  <ng-content></ng-content>