<app-layout>
    <main class="main-content w-full px-20 pl-32 pt-20 pb-8">
      <div>
        <div class="flex items-center space-x-4 py-1">
          <div class="flex justify-between w-full">
            <div>
              <h2 class="text-xl font-medium text-gray-800 dark:text-navy-50 lg:text-2xl">
                Students
              </h2>
              <p>
                {{ batch.department.departmentName}} | {{batch.batch.startYear +"-"+ batch.batch.endYear }} 
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="card mt-3">
        <div class="is-scrollbar-hidden min-w-full overflow-x-auto">
          <table mat-table [dataSource]="students" class="w-full text-left">
            <ng-container matColumnDef="number">
              <th  *matHeaderCellDef class="whitespace-nowrap text-sm rounded-tl-lg px-4 py-3 font-semibold uppercase text-gray-700 dark:bg-navy-text-gray-700 dark:text-navy-100 lg:px-5 bg-slate-100">
                Reg No.
              </th>
              <td *matCellDef="let student; let i = index;" class="whitespace-nowrap text-sm px-4 py-3 sm:px-5">
                {{ i + 1 }}
              </td>
            </ng-container>
  
            <ng-container matColumnDef="name">
              <th  *matHeaderCellDef class="whitespace-nowrap text-sm bg-slate-100 px-4 py-3 font-semibold uppercase text-gray-700 dark:bg-navy-text-gray-700 dark:text-navy-100 lg:px-5">
                Name
              </th>
              <td *matCellDef="let student" class="whitespace-nowrap text-sm px-3 py-3 font-medium text-slate-700 dark:text-navy-100 lg:px-5">
                {{ student.admssionDetails.firstName + " " + student.admssionDetails.lastName }}
              </td>
            </ng-container>
  
            <ng-container matColumnDef="attendancePerc">
              <th  *matHeaderCellDef class="w-10 whitespace-nowrap text-sm bg-slate-100 px-4 py-3 font-semibold uppercase text-gray-700 dark:bg-navy-text-gray-700 dark:text-navy-100 lg:px-5">
                Attendance Percentage
              </th>
              <td *matCellDef="let student" class="whitespace-nowrap text-sm px-4 py-3 sm:px-5 w-10">
                {{student.attendancePerc}}%

              </td>
            </ng-container>
  
            <ng-container matColumnDef="action">
              <th  *matHeaderCellDef class="text-center whitespace-nowrap text-sm bg-slate-100 px-4 py-3 font-semibold uppercase text-gray-700 dark:bg-navy-text-gray-700 dark:text-navy-100 lg:px-5">
                View
              </th>
              <td *matCellDef="let student" class="whitespace-nowrap text-sm text-center px-4 py-3 sm:px-5">
                <div class="badge rounded-full text-center">
                  <fa-icon (click)="onClick(student)" class="text-gray-500 hover:text-indigo-700 cursor-pointer" [icon]="faeye"></fa-icon>
                </div>
              </td>
            </ng-container>
  
            <tr mat-header-row *matHeaderRowDef="['number', 'name', 'attendancePerc', 'action']"></tr>
            <tr mat-row *matRowDef="let student; columns: ['number', 'name', 'attendancePerc', 'action']"></tr>
          </table>
          <div class="border-t-2">
            
          <mat-paginator [pageSizeOptions]="[10]" showFirstLastButtons aria-label="Select page of assignments"></mat-paginator>
        
          </div>
  </div>
      </div>
    </main>
  </app-layout>
  
  