@font-face {
    font-family: 'Gilroy';
    font-weight: 300;
    src: url('../assets/font/Gilroy-Light.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Gilroy';
    font-weight: 400;
    src: url('../assets/font/Gilroy-Regular.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Gilroy';
    font-weight: 500;
    src: url('../assets/font/Gilroy-Medium.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Gilroy';
    font-weight: 700;
    src: url('../assets/font/Gilroy-Bold.ttf') format('truetype');
  }