<app-navbar></app-navbar>

<body class="max-h-screen ">
  <section class="py-24 border-red-500 bg-gray-200 min-h-screen flex items-center justify-center">
    <div class="bg-gray-100 p-5 flex rounded-2xl shadow-lg max-w-3xl">
      <div class="md:w-1/2 px-5">
        <h2 class="text-2xl font-bold text-teal-500">Create New Account</h2>
        <p class="text-xs mt-2 text-[#002D74]">Begin Your Journey to Higher Education</p>
        <form class="mt-4" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <div>
            <mat-form-field appearance="outline" class="w-full">
              <mat-label>Applicant Name</mat-label>
              <input formControlName="fullName" matInput placeholder="Enter Applicant Name"
                class="w-full rounded-lg bg-gray-200  border focus:border-blue-500 focus:bg-white focus:outline-none"
                autofocus autocomplete required>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field appearance="outline" class="w-full -mt-4">
              <mat-label>Email Address</mat-label>
              <input formControlName="email" matInput placeholder="Enter Email Address"
                class="w-full rounded-lg bg-gray-200  border focus:border-blue-500 focus:bg-white focus:outline-none"
                autofocus autocomplete required>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field appearance="outline" class="w-full -mt-4">
              <mat-label>Password</mat-label>
              <input formControlName="password" placeholder="Enter Password" matInput
                [type]="hide ? 'password' : 'text'">
              <a mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </a>
            </mat-form-field>
            <p *ngIf="registerForm.controls['password'].hasError('pattern')" class="text-red-500 -mt-6 mb-6 text-xs">
              Invalid Password
              Format</p>
          </div>
          <div>
            <mat-form-field appearance="outline" class="w-full -mt-4">
              <mat-label>Confirm Password</mat-label>
              <input formControlName="cPassword" placeholder="Confirm Password" matInput
                [type]="chide ? 'password' : 'text'">
              <a mat-icon-button matSuffix (click)="chide = !chide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="chide">
                <mat-icon>{{chide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </a>
            </mat-form-field>
          </div>

          <p class="text-red-500 -mt-6 mb-2 text-xs">{{passErr}}</p>

          <button type="submit" class="w-full block bg-teal-500 hover:bg-teal-400 focus:bg-blue-400 text-white font-semibold rounded-lg
                  px-4 py-3 ">Register</button>
        </form>

        <div class="text-sm flex items-center mt-3 justify-end mr-2">
          <p>Already Have Registered ? <a class="text-blue text-align-left" routerLink="/login"
              style="cursor: pointer; color: teal;">Login</a></p>

        </div>
      </div>

      <div class="w-1/2 md:block hidden ">
        <img
          src="https://images.unsplash.com/photo-1614741118887-7a4ee193a5fa?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80"
          class="rounded-2xl" alt="page img">
      </div>

    </div>

  </section>
</body>