
<main class="main-content w-full px-20 pl-32 pt-20 pb-8">
    <div>
      <div class="flex md:flex-row flex-col justify-between items-center space-x-4 py-1">
        <h2 class="text-xl font-medium text-gray-800 dark:text-navy-50 lg:text-2xl">
          Fees
        </h2>
       </div>
      <div class="card mt-3">
        <div
          class="is-scrollbar-hidden min-w-full overflow-x-auto"
        >
  
        <div class="mat-elevation-z8">
            <table class="w-full whitespace-no-wrap">
                <thead>
                    <tr
                        class="text-xs font-semibold tracking-wide text-left text-gray-600 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
                        <th class="whitespace-nowrap  text-sm  rounded-tl-lg bg-slate-100 px-4 py-3 font-semibold uppercase text-gray-700 dark:bg-navy-text-gray-700 dark:text-navy-100 lg:px-5">YEAR</th>
                        <th class="whitespace-nowrap  text-sm bg-slate-100 px-4 py-3 font-semibold uppercase text-gray-700 dark:bg-navy-text-gray-700 dark:text-navy-100 lg:px-5">Tution Fees</th>
                        <th class="whitespace-nowrap  text-sm bg-slate-100 px-4 py-3 font-semibold uppercase text-gray-700 dark:bg-navy-text-gray-700 dark:text-navy-100 lg:px-5">Hostel Fees</th>
                        <th class="whitespace-nowrap  text-sm bg-slate-100 px-4 py-3 font-semibold uppercase text-gray-700 dark:bg-navy-text-gray-700 dark:text-navy-100 lg:px-5">Exam Fees</th>
                        <th class="whitespace-nowrap  text-sm bg-slate-100 px-4 py-3 font-semibold uppercase text-gray-700 dark:bg-navy-text-gray-700 dark:text-navy-100 lg:px-5">Total</th>
                        <th class="whitespace-nowrap  text-sm bg-slate-100 px-4 py-3 font-semibold uppercase text-gray-700 dark:bg-navy-text-gray-700 dark:text-navy-100 lg:px-5">Action</th>
                    </tr>
                </thead>
                <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
                    <tr *ngFor="let fee of feeDetails" class="border-y border-transparent border-b-slate-200 dark:border-b-navy-500">
                      
                        <td class="whitespace-nowrap text-sm  px-4 py-3 sm:px-5 font-bold">
                            {{fee.year}}
                        </td>
                        
                        <td class="whitespace-nowrap text-sm  px-4 py-3 sm:px-5 font-medium text-gray-700">
                            {{ fee.tutionFees | currency:'INR'}}
                        </td>
                        <td class="whitespace-nowrap text-sm  px-4 py-3 sm:px-5 font-medium text-gray-700">
                            {{fee.hostelFees  | currency:'INR'}}
                        </td>
                        <td class="whitespace-nowrap text-sm  px-4 py-3 sm:px-5 font-medium text-gray-700">
                            {{fee.examFees  | currency:'INR'}}
                        </td>
                        <td class="whitespace-nowrap text-sm  px-4 py-3 sm:px-5 font-medium text-gray-700">
                            {{ [fee.tutionFees , fee.hostelFees , fee.examFees ] | sum | currency:'INR'}}
                            
                        </td>
                        <td class="px-4 py-3 text-sm">
                            <button *ngIf="!isFeePaid(fee.year)" (click)="onPay([fee.tutionFees , fee.hostelFees , fee.examFees ],fee.year)" class="px-3 py-1 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-md active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple">
                                Pay
                              </button>
                            <span *ngIf="isFeePaid(fee.year)" class="px-3 py-1 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-green-600 border border-transparent rounded-md active:bg-green-600 hover:bg-green-700 focus:outline-none focus:shadow-outline-green">Paid</span>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
        
          
        </div>
      </div>
    </div>
  </main>
  